label, input, select {
    display: block;
}

button {
    display: inline-block;
}

input, button, select {
    border-radius: 5px;
    padding: 5px;
}

input, select {
    width: 30em;
}

label {
    font-family: "Arial, sans-serif";
}

select:hover {
    border-color: aquamarine;
}

input:hover {
    border-color: aquamarine;
}

label {
    padding-top: 1em;
}

button {
    margin-top: 1em;
}

#reset {
    background-color: darkred;
    color: white;
    border-color: rgb(46, 0, 0);
}

#salvar {
    background-color: olivedrab;
    color: white;
    border-color: rgb(32, 44, 9);
}

button:hover {
    opacity: .8;
}