<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" href="../../static/estilos.css">
    <link rel="stylesheet" href="\components\listar\lista-styles.css">
    <title>Trabalho final</title>
</head>
<body>
    <object data="static/nav/nav-view.html" type="text/html" id="navbar"></object>

    <div class="main">
        <object data="static/header/header-view.html" type="text/html" id="header"></object>
        <div id="body">
            <table id="listarLivros">
                <thead>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Pág.</th>
                    <th>Editora</th>
                    <th>Ano</th>
                    <th>Genero</th>
                    <th>Ação</th>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">Trabalho final</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <object data="static/footer/footer-view.html" type="text/html" id="footer"></object>

        <script src="\components\listar\listar-scripts.js"></script>
    </div>
</body>
</html>