<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/estilos.css">
    <link rel="stylesheet" href="sobre.css">
    <!-- <link rel="import" href="static/my-nav.html"> -->
    <title>Trabalho final</title>
</head>
<body>
    <object data="static/nav/nav-view.html" type="text/html" id="navbar"></object>

    <div class="main">
        <object data="static/header/header-view.html" type="text/html" id="header"></object>
        <div id="body">
            <h1>Curso: Técnico em Desenvolvimento de Sistemas</h1>
            <h1>Disciplina: Desenvolvimento de Sistemas Web</h1>
            <h1>Nome:</h1>
        </div>
        <object data="static/footer/footer-view.html" type="text/html" id="footer"></object>
    </div>
</body>
</html>